.container{
    margin-bottom: 80px;
  }
  
  #form{
    width: 350px;
    margin: 15vh auto 0 auto;
    padding: 20px;
      background: transparent;
      border: 2px solid rgba(255,255,255,0.5);
      border-radius: 20px;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px rgba(0,0,0, 0.5);
  }
  
  #form h1 {
    color: #0f2027;
    text-align: center;
  }
  
  #form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
  }
  
  .input-control input {
  border: 2px solid #114d82;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 92%;
  background: none;
  }
  .login-register{
    font-size: 17px;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  
  }
  .login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }
  .login-register p a:hover{
    color:  #32aad6;
    text-decoration: underline;
  }
