* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  z-index: 2;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.container {
  background-color: #fff;
  height: 80px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

nav.navbar .navbar-toggler {
  border-color: #333;
}

nav.navbar .nav-tabs {
  border-bottom: none;
}

nav.navbar .nav-link {
  color: #333;
  font-size: 14px;
  font-weight:bold;
}

nav.navbar .nav-link:hover {
  color: #f00;
}

nav.navbar .dropdown-menu {
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav.navbar .dropdown-item {
  color: #333;
}

nav.navbar .dropdown-item:hover {
  background-color: #f00;
  color: #fff;
}

nav.navbar #logo {
  width: 120px;
}

nav.navbar .nav.justify-content-end .user .modal-dialog {
  width: 400px;
}

nav.navbar .nav.justify-content-end .user .modal-content {
  border-radius: 10px;
}

nav.navbar .nav.justify-content-end .user .modal-header {
  background-color: #f00;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

nav.navbar .nav.justify-content-end .user .modal-footer {
  border-radius: 0 0 10px 10px;
}

nav.navbar .nav.justify-content-end .user h1.modal-title {
  color: #fff;
  margin-bottom: 20px;
}

nav.navbar .nav.justify-content-end .user button.btn-primary {
  background-color: rgb(96, 15, 234);
  border: none;
  border-radius: 5px;
}

nav.navbar .nav.justify-content-end .user button.btn-primary:hover {
  background-color: #fff;
  color: rgb(81, 0, 255);
}
.main_img {
  display: flex;
  justify-content: center;
  /* canh giữa theo chiều ngang */
  overflow: hidden;

  align-items: center;
}
.end-img {
  display: flex;
  align-items: center;
  width: 100%;
}
main h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.img_fruit {
  width: fit-content;
  height: auto;
  margin: 1px;
}

/* .dropdown-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
} */

/* .dropdown-menu li:hover > ul {
  display: block;
} */

.section--img,
.section--center {
  display: flex;
  justify-content: center;
  /* canh giữa theo chiều ngang */
  align-items: center;
  /* canh giữa theo chiều dọc */
  position: relative;
}

.section--center:hover .titel_Img {
  display: block;
}

.titel_Img {
  display: none;
  position: absolute;
  color: #000;
  font-size: 1.2rem;
  bottom: 3rem;
  padding: 8px 2rem;
  background-color: #f9f9f9c0;
  border-radius: 2px;
  cursor: pointer;
}

.section--center img {
  margin: 1rem;
  max-width: 50%;
}
.section--img img {
  margin: 1rem;
  max-width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-weight: bold;
}

.section_5--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_5--footer a {
  margin: 0 10px;
}
footer p {
  text-align: center;
  justify-content: center;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
}

.flex-grow-unset {
  flex-grow: unset;
}
.navbar {
  position: relative;
}
.logo {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  height: 70px;
}

.logo img {
  max-height: 100%;
}
header {
  position: relative;
}
.user-function {
  position: absolute;
  right: 1rem;
  top: 40px;
  transform: translateY(-50%);
}
.overflow-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  z-index: 2;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.container {
  background-color: #fff;
  height: 80px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

nav.navbar .navbar-toggler {
  border-color: #333;
}

nav.navbar .nav-tabs {
  border-bottom: none;
}

nav.navbar .nav-link {
  color: #333;
  font-size: 14px;
  font-weight:bold;
}

nav.navbar .nav-link:hover {
  color: #f00;
}

nav.navbar .dropdown-menu {
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav.navbar .dropdown-item {
  color: #333;
}

nav.navbar .dropdown-item:hover {
  background-color: #f00;
  color: #fff;
}

nav.navbar #logo {
  width: 120px;
}

nav.navbar .nav.justify-content-end .user .modal-dialog {
  width: 400px;
}

nav.navbar .nav.justify-content-end .user .modal-content {
  border-radius: 10px;
}

nav.navbar .nav.justify-content-end .user .modal-header {
  background-color: #f00;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

nav.navbar .nav.justify-content-end .user .modal-footer {
  border-radius: 0 0 10px 10px;
}

nav.navbar .nav.justify-content-end .user h1.modal-title {
  color: #fff;
  margin-bottom: 20px;
}

nav.navbar .nav.justify-content-end .user button.btn-primary {
  background-color: rgb(96, 15, 234);
  border: none;
  border-radius: 5px;
}

nav.navbar .nav.justify-content-end .user button.btn-primary:hover {
  background-color: #fff;
  color: rgb(81, 0, 255);
}
.main_img {
  display: flex;
  justify-content: center;
  /* canh giữa theo chiều ngang */
  overflow: hidden;

  align-items: center;
}
.end-img {
  display: flex;
  align-items: center;
  width: 100%;
}
main h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.img_fruit {
  width: fit-content;
  height: auto;
  margin: 1px;
}

/* .dropdown-menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
} */

/* .dropdown-menu li:hover > ul {
  display: block;
} */

.section--img,
.section--center {
  display: flex;
  justify-content: center;
  /* canh giữa theo chiều ngang */
  align-items: center;
  /* canh giữa theo chiều dọc */
  position: relative;
}

.section--center:hover .titel_Img {
  display: block;
}

.titel_Img {
  display: none;
  position: absolute;
  color: #000;
  font-size: 1.2rem;
  bottom: 3rem;
  padding: 8px 2rem;
  background-color: #f9f9f9c0;
  border-radius: 2px;
  cursor: pointer;
}

.section--center img {
  margin: 1rem;
  max-width: 50%;
}
.section--img img {
  margin: 1rem;
  max-width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-weight: bold;
}

.section_5--footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_5--footer a {
  margin: 0 10px;
}
footer p {
  text-align: center;
  justify-content: center;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: white;
}

.flex-grow-unset {
  flex-grow: unset;
}
.navbar {
  position: relative;
}
.logo {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  height: 70px;
}

.logo img {
  max-height: 100%;
}
header {
  position: relative;
}
.user-function {
  position: absolute;
  right: 1rem;
  top: 40px;
  transform: translateY(-50%);
}
.overflow-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
